body {
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
}

#container {
  background-color: #fff;
  min-height: 100vh;
  width: 700px;
  border-right: 2px solid #ddd;
  border-left: 2px solid #ddd;
}

#header {
  padding: 10px;
}

#signout-header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#signout-header > button {
  padding: 10px 20px;
  font-size: medium;
}

#timeline-header {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

#timeline-header > button {
  height: 38.5px;
  font-size: medium;
  padding: 10px 20px;
}

.more-header {
  border-top: #ddd 2px solid;
}

#refresh-header {
  border-top: #ddd 2px solid;
}

button {
  border-radius: 100px;
  padding: 10px;
  font-size: small;
  background-color: #487df7;
  border: 0;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 50%;
}

.more-header > button {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #487df7;
  border-radius: 0;
  font-size: medium;
}

#refresh-btn {
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: #487df7;
  border-radius: 0;
  font-size: medium;
}

.post {
  border-top: 2px solid #ddd;
  padding: 10px;
}

#post {
  padding: 10px;
}

.post-content {
  white-space: pre-wrap;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
}

.replies {
  padding: 10px;
}

.replies .post {
  background-color: #eeeeee;
}

.post-left {
  flex: 7;
}

.post-middle {
  flex: 1;
}

.post-right {
  flex: 2;
}

.post-inner {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.vote {
  flex: 1;
  font-size: 2rem;
  text-align: center;
  color: #b0b8c0;
}

.voted {
  color: #7090ff;
}

.created-at {
  font-size: 0.8rem;
  color: #777;
}

.uid {
  width: 9rem;
}

.by {
  background-color: #487df7;
}

.uv {
  color: #000;
  background-color: #ffbfbf;
}

.dv {
  background-color: #bfbfff;
}

.rank {
  background-color: #ffffff;
}

.thumb {
  width: 200px;
}

.replycount {
  font-size: 1rem;
  color: #444;
}

#ranking-profiles {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.profile {
  padding: 10px;
  border: 1px solid #777;
}

.vote-upper {
  cursor: pointer;
}

.vote-downer {
  cursor: pointer;
}

.post {
  @media (max-width: 700px) {
    flex-direction: column;
  }
}
